@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root{
    --grey: rgb(109, 109, 109);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: bisque;
}
.container{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card{
    width: 40vw;
    height: 70vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}
.product-card .product-img, .product-card .product-content{
    width: 50%;
}
.product-card .product-img{
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product-card .product-content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card .product-type{
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.product-card .product-title{
    font-family: 'Fraunces', serif;
}
.product-card .product-desc{
    color: var(--grey);
    line-height: 25px;
} 
.product-card .product-price{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-card .product-old-price{
    color: var(--grey);
}
.product-card .product-new-price{
    font-family: 'Fraunces', serif;
    font-size: 2vw;
    color: hsl(158, 36%, 37%);
}


.product-card button{
    border: none;
    border-radius: 5px;
    /* padding: 5% 35%; */
    width: 100%;
    height: 10%;
    background-color:  hsl(158, 36%, 37%);
    color: white ;
    font-weight: 600;
    font-size: 14px;
}
.product-card button:hover{
    cursor: pointer;
    background-color:  hsl(156, 33%, 26%);
}


@media screen and (max-width: 800px) {
    .product-card{   
        flex-direction: column;
        width: 50vw;
        height: 90vh;
    }
    .product-card .product-img, .product-card .product-content{
        width: 100%;
        height: 50%;
    }

}