@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root{
    --grey: rgb(109, 109, 109);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: bisque;
}
.container{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card{
    width: 40vw;
    /* height: 70vh; */
    background-color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
    border-radius: 1.5%;
    overflow: hidden;
}
/* .product-card .product-img, .product-card .product-content{
    width: 50%;
} */
.product-card .product-img{
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product-card .product-content{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card .product-type{
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px 0;
}
.product-card .product-title{
    font-family: 'Fraunces', serif;
    margin: 5px 0;
}
.product-card .product-desc{
    color: var(--grey);
    line-height: 25px;
    margin: 5px 0;
} 
.product-card .product-price{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.product-card .product-old-price{
    color: var(--grey);
}
.product-card .product-new-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}


.product-card button{
    border: none;
    border-radius: 5px;
	padding: 10px 20px;
    width: 100%;
    /* height: 50%; */
    background-color:  hsl(158, 36%, 37%);
    color: white ;
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0;
}
.product-card button:hover{
    cursor: pointer;
    background-color:  hsl(156, 33%, 26%);
}



@media(max-width: 660px) {
    .container{
        padding: 25px;
        width: 100%;
    }
    .product-card{   
		width: 100%;
		height: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 300px 1fr;
    }
    .product-card .product-img{
        background-image: url(images/image-product-mobile.jpg);
    }
    .product-content{
        padding: 0;
        justify-content: space-around;
    }

}